

img{
    width:200px;
    height:200px;
    border:1px solid black;
}


table{
    border:2px solid black;
    border-collapse: collapse;
    width:98%;
    margin-top:10px;
    margin-right:10px;
}

tr,td{
    border:1px solid black;
    font-size:20px;
    width:30px;
    padding: 15px;
    text-align: left;
}
td{
}

.c11{
    background-color:rgb(250,250,200);
}
.c21{
    background-color:rgb(250,250,250);
}
.c12{
    background-color:rgb(200,200,150);
}
.c22{
    background-color:rgb(200,200,200);
}


